.freePlan{
    background-image: url('../../assets/images/freePlan.svg');
    padding: 20px;
    background-size: cover;
}

.paidPlan{
    background-image: url('../../assets/images/paidPlan.svg');
    padding:15px 20px;
}