.freePlan{
    background-color:  var(--main-color);
    padding: 20px;
    height: 400px;
    width: 380px;
}

.paidPlan{
    background-image: url('../../assets/images/paidPlan.svg');
    padding:15px 20px;
    background-repeat: no-repeat;
    background-size: cover;
}