.outerHeader{
    position: fixed;
    top: 0;
   padding: 0;
   z-index: 2;
}

.logo img{
    height: 50px;
}

.endMenu .mobProfile{
    height: 40px;
    width: 40px;
}

.endMenu .help{
    cursor: pointer;
}

.mobileMenu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.832);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: none;
}

.mainContainer{
    margin-top: 120px !important;
}

.mainPageContainer{
    min-height: 400px;
}

.mainPageSideContainer{
    height: 600px;
    position: sticky;
    top: 100px;
}

.profileImg{
    height: 56px;
    width: 56px;
}
.menuItems:hover{
    cursor: pointer;
}

.upload:hover{
    cursor: pointer;
}

.upload img{
    height: 24px;

}


@media screen and (max-width:768px){

    
}