.docBox .imgContainer img{
    height: 150px;
    min-width: 150px;
    object-fit: contain;
}
.imgContainer{
    width: 242px;
}

.docBox{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    min-height: 280px;
    width: 282px;
}

.actionBtn img{
    height: 24px;
    width: 24px;
}

.actionBtn{
    position: relative;
}
.actions{
    position: absolute;
    top: 30px;
    right: -95px;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
    z-index: 2;
}

.viewDocsInputBox{
    width: 60%;
    position: relative;
    background-color: white;
}

.searchOverlay{
    position: fixed;
    top: 68px;
    z-index: 2;
    width: 100%;
    margin-left:0px;
}

.searchOverlay input{
    width: 500px;
}


.searchIcon{
    position: absolute;
    top:30px;
    left: 35px;
    height: 16px;
    width: 16px;
}

.renameInputBox input{
    height: 44px;
}

.checkImg{
    height: 24px !important;
    width: 24px !important;
}

@media screen and (max-width:768px){
    .viewDocsInputBox{
        width: 90%;
        position: relative;
    }

    .docBox{
        width: 90%;
    }

    .imgContainer{
        width: 95%;
    }

    .searchOverlay input{
        width: 328px;
    }
    
    
}