:root {
  --circle-color: #89CFF0;
  --footer-color: #c5ecfe;
  --main-color:#1919DF;
  --text-secondary:#3D008C;
  --list-color: #2A0061;
  --column-color: #BCE6FA;

}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.center-container{
  width: 1280px;
  margin: auto;
}


.blueColor{
  color: var(--text-secondary);
}
.listColor{
  color: var(--text-secondary);
}

.bgSkyBlue{
  background-color: var(--circle-color);
}

.btnColor{
background-color: var(--main-color);
}

.columnColor{
  background-color: var(--column-color);
}


